body { /* bgc#fff */
       background-color: #fff;
       /* c#fff */
       color: #555;
     }
     header{ /* bgc#002171 */
             background-color: #002171;
             /* c#fff */
             color: #fff;
           }
           nav{
               /* bgc#bbdefb */
               background-color: #bbdefb;
              }
              h1{ /* mb0 */
                  margin-bottom: 0;
                }
                h2{ /* c#1976d2 */
                    color: #1976d2;
                  }
                  dt{ /* c#002171 */
                      color: #002171;
                    }
                    address{
                            font-style: normal;
                           }
                           .resort{ /* c#1976d2 */
                                    color: #1976d2;
                                  }  